<img class="insight-img" style="width:100%" src="h./../../../assets/images/insight2.png" alt="">
<img class="insight-img" style="width:100%" src="h./../../../assets/images/insight1.png" alt="">
<img class="insight-img img3"  style="width:100%" src="h./../../../assets/images/insight3.png" alt="">
<img class="insight-img" style="width:100%" src="h./../../../assets/images/insight4.png" alt="">
<img class="insight-img" style="width:100%" src="h./../../../assets/images/insight5.png" alt="">
<img class="insight-img" style="width:100%" src="h./../../../assets/images/insight6.png" alt="">
<img class="insight-img" style="width:100%" src="h./../../../assets/images/insight7.png" alt="">