<div class="body">
    <div class="banner-container">
      <div class="video-content">
        <div class="video-left-content">
          <h1>Chart & Accelerate </h1>
          <h1 style="margin-top: 00px;">Your ESG Journey </h1>
          <h2 style="margin-bottom: 0px;">With End to End</h2>
          <h2 style="margin-top: 0px;">Digital Automation</h2>
          <h3>Ensure the highest </h3>
          <h3 style="margin-top: 0;">Governance</h3>
          <div class="button-container">
            <span class="request">
              Request a Demo
            </span>
            <span class="learn">
              Learn More
            </span>
          </div>
        </div>
        <div class="video-right-content">
          <img class="college-img" src="./../assets/images/coleege_goveva_img.png" alt="">
        </div>
      </div>
      <video class="banner-video" autoplay="" loop="" onended="this.play()" [ngStyle]="getHeight()"><source src="./../assets/banner-new.mp4" type="video/mp4"></video>
    </div>
    <img class="home-img" src="./../../assets/images/home1.png" alt="">
    <img class="home-img" src="./../../assets/images/home2.png" alt="">
    <img class="home-img" src="./../../assets/images/home3.png" alt="">
    <img class="home-img" src="./../../assets/images/home4.png" alt="">
    <img class="home-img" src="./../../assets/images/home5.png" alt="">
  </div>